In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_excel('C:/Users/vineet/Desktop/restraunt/Data_Train.xlsx')
test = pd.read_excel('C:/Users/vineet/Desktop/restraunt/Data_Test.xlsx')
submission = pd.read_excel('C:/Users/vineet/Desktop/restraunt/Sample_submission.xlsx')

In [3]:
train["source"] = "train"
test["source"] = "test"

In [4]:
df = pd.concat([train,test])

C:\Users\vineet\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16921 entries, 0 to 4230
Data columns (total 10 columns):
CITY             16774 non-null object
COST             12690 non-null float64
CUISINES         16921 non-null object
LOCALITY         16793 non-null object
RATING           16917 non-null object
RESTAURANT_ID    16921 non-null int64
TIME             16921 non-null object
TITLE            16921 non-null object
VOTES            15315 non-null object
source           16921 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.4+ MB

In [6]:
df.duplicated().sum()

26

In [7]:
df= df.drop_duplicates()

In [8]:
df.isna().sum()

CITY              147
COST             4230
CUISINES            0
LOCALITY          128
RATING              4
RESTAURANT_ID       0
TIME                0
TITLE               0
VOTES            1602
source              0
dtype: int64

In [9]:
df['Location']=df['CITY']+' '+df['LOCALITY']
df.drop(columns=['CITY','LOCALITY'])

,COST,CUISINES,RATING,RESTAURANT_ID,TIME,TITLE,VOTES,source,Location
0,1200.0,"Malwani, Goan, North Indian",3.6,9438,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49 votes,train,Thane Dombivali East
1,1500.0,"Asian, Modern Indian, Japanese",4.2,13198,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30 votes,train,Chennai Ramapuram
2,800.0,"North Indian, Chinese, Biryani, Hyderabadi",3.8,10915,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221 votes,train,Chennai Saligramam
3,800.0,"Tibetan, Chinese",4.1,6346,11:30am – 1am (Mon-Sun),QUICK BITES,24 votes,train,Mumbai Bandra West
4,300.0,Desserts,3.8,15387,11am – 1am (Mon-Sun),DESSERT PARLOR,165 votes,train,Mumbai Lower Parel
5,800.0,"North Indian, Chinese, Seafood, Biryani",4.0,5618,12noon – 12:30AM (Mon-Sun),CASUAL DINING,550 votes,train,Mumbai Vile Parle West
6,600.0,"Cafe, Chinese, Pizza, North Indian, Burger",4.1,4383,"12noon – 11:30pm (Mon, Tue, Thu, Fri, Sat, Sun...",CAFÉ,509 votes,train,Bangalore Koramangala 6th Block
7,1600.0,Bar Food,4.3,1249,1pm – 1am (Mon-Sun),MICROBREWERY,1612 votes,train,Gurgaon Sector 29
8,300.0,"South Indian, North Indian",3.9,7062,7am – 10:30pm (Mon-Sun),QUICK BITES,101 votes,train,Bangalore Bannerghatta Road
9,200.0,North Indian,3.3,10109,"11am – 2pm, 4pm – 10:30pm (Mon-Sun)",QUICK BITES,219 votes,train,Hyderabad Dilsukhnagar
10,900.0,"North Indian, Chinese, Fast Food, Biryani",4.1,38,12:30pm – 12:30AM (Mon-Sun),CASUAL DINING,244 votes,train,Bangalore Koramangala 5th Block
11,800.0,"Fast Food, Burger, Beverages",4.0,844,"11am – 12:15AM (Mon, Tue, Wed, Thu, Fri, Sun)...","QUICK BITES,BEVERAGE SHOP",274 votes,train,Bangalore Indiranagar
12,600.0,"Arabian, Mughlai",3.4,938,11am – 11pm (Mon-Sun),CASUAL DINING,15 votes,train,Kochi Chullickal
13,400.0,South Indian,-,4319,11am – 11:30pm (Mon-Sun),CASUAL DINING,NaN,train,Kochi Edappally
14,300.0,Maharashtrian,4.0,15024,"Closed (Mon),11am – 11pm (Tue-Sun)",QUICK BITES,160 votes,train,Thane West Majiwada
15,1400.0,"Parsi, Hyderabadi",4.5,12401,"11:30am – 11:30pm (Mon, Tue, Wed, Thu, Sun)...","CASUAL DINING,IRANI CAFE",2499 votes,train,Hyderabad Jubilee Hills
16,900.0,"North Indian, Fast Food",3.6,5254,7:30am – 12midnight (Mon-Sun),CASUAL DINING,319 votes,train,Mumbai Borivali West
17,600.0,"North Indian, Hyderabadi, Chinese",3.5,8259,11am – 12midnight (Mon-Sun),CASUAL DINING,121 votes,train,Hyderabad Nagole
18,600.0,"Chinese, Thai",3.6,4009,11am – 11:45pm (Mon-Sun),CASUAL DINING,535 votes,train,Andheri Lokhandwala Andheri Lokhandwala
19,200.0,"Bakery, Fast Food, Momos",4.1,11841,"Closed (Mon),9am – 10pm (Tue-Sun)","BAKERY,QUICK BITES",350 votes,train,New Delhi Krishna Nagar
20,350.0,"Continental, European",4.2,6465,9:30am – 10pm (Mon-Sun),CASUAL DINING,400 votes,train,Hyderabad Hitech City
21,500.0,"North Indian, Rolls, Momos",4.0,1048,10:30am – 11:30pm (Mon-Sun),QUICK BITES,1327 votes,train,New Delhi Karol Bagh
22,450.0,"North Indian, Fast Food, Mughlai, Rolls",4.0,12499,11am – 3am (Mon-Sun),None,1191 votes,train,New Delhi SDA
23,600.0,"Andhra, Chinese, North Indian, Biryani",3.9,10412,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,533 votes,train,Bangalore Thippasandra
24,700.0,"Cafe, Italian, Chinese",4.2,2389,11am – 11pm (Mon-Sun),CAFÉ,493 votes,train,New Delhi Dwarka
25,400.0,"Biryani, North Indian",3.8,6551,12noon – 11pm (Mon-Sun),QUICK BITES,372 votes,train,Kochi Kakkanad
26,700.0,"North Indian, Chinese, BBQ",3.4,13446,"12:30pm – 11pm (Mon-Thu),12:30pm – 11:30pm...",CASUAL DINING,105 votes,train,Bangalore HSR
27,1400.0,Italian,4.1,10277,"Closed (Mon),12noon – 3pm, 6pm – 11pm (Tue-Sun)","BAR,CASUAL DINING",178 votes,train,Chennai Vadapalani
28,1000.0,"Finger Food, North Indian, Continental, Italian",4.3,4222,11am – 11pm (Mon-Sun),BAR,150 votes,train,Chennai Neelangarai
29,1400.0,"Finger Food, Continental, Asian, North Indian",4.2,6577,12:30pm – 1am (Mon-Sun),PUB,2456 votes,train,Bangalore Koramangala 5th Block
...,...,...,...,...,...,...,...,...,...
4201,NaN,"Biryani, South Indian",3.5,13547,7am – 11pm (Mon-Sun),QUICK BITES,22 votes,test,Gurgaon Sector 37
4202,NaN,"Biryani, Fast Food",4.2,9386,11am – 11pm (Mon-Sun),QUICK BITES,232 votes,test,Chennai Thousand Lights
4203,NaN,"South Indian, Biryani, North Indian",4.1,12971,"12noon – 3:30pm, 7:30pm – 11pm (Mon-Fri),12noo...",QUICK BITES,1697 votes,test,Chennai Thuraipakkam
4204,NaN,Bakery,3.2,15219,10am – 10pm (Mon-Sun),BAKERY,31 votes,test,Chennai Perungudi
4205,NaN,"Bakery, Desserts",3.8,141,11am – 11pm (Mon-Sun),BAKERY,26 votes,test,Bangalore New BEL Road
4206,NaN,"European, Continental, North Indian",4.2,4325,24 Hours (Mon-Sun),FINE DINING,749 votes,test,New Delhi Rajendra Place
4207,NaN,"South Indian, North Indian, Chinese",3.4,6158,7am – 11pm (Mon-Sun),QUICK BITES,26 votes,test,Chennai K.K. Nagar
4208,NaN,"Chinese, North Indian",3.6,11799,11:30am – 12midnight (Mon-Sun),CASUAL DINING,251 votes,test,Mumbai Worli
4209,NaN,"Biryani, Chinese, Mughlai, North Indian, Hyder...",4.0,4992,10am – 2am (Mon-Sun),CASUAL DINING,125 votes,test,Hyderabad Kondapur
4210,NaN,"Chinese, North Indian, Mughlai",3.3,11680,"11am – 4pm, 7pm – 12midnight (Mon-Sun)",CASUAL DINING,312 votes,test,Mumbai Santacruz East
4211,NaN,"Fast Food, Bakery, Chinese",3.2,2943,8am – 4am (Mon-Sun),"QUICK BITES,BAKERY",1246 votes,test,Hyderabad Ameerpet
4212,NaN,North Indian,4.0,6204,"Closed (Mon),10am – 11:45pm (Tue-Sun)",CASUAL DINING,371 votes,test,Mumbai Kalbadevi
4213,NaN,"North Indian, South Indian, Chinese",2.6,14205,11am – 11pm (Mon-Sun),CASUAL DINING,62 votes,test,Hyderabad Manikonda
4214,NaN,"Fast Food, North Indian, South Indian",3.7,10521,8am – 10pm (Mon-Sun),QUICK BITES,174 votes,test,Bangalore JP Nagar
4215,NaN,"Ice Cream, Desserts",4.3,6448,11am – 12:30AM (Mon-Sun),DESSERT PARLOR,1265 votes,test,Mumbai Powai
4216,NaN,"Chinese, North Indian, Arabian",3.6,499,11:30am – 11pm (Mon-Sun),QUICK BITES,171 votes,test,Chennai Tambaram
4217,NaN,"European, Mediterranean, Italian, Sushi",4.1,14508,"7pm – 1:30am (Mon-Tue),12noon – 1:30am (Wed-Sun)","BAR,CASUAL DINING",1239 votes,test,Mumbai Juhu
4218,NaN,"North Indian, Biryani",3.3,11667,12:30pm – 10:15pm (Mon-Sun),None,6 votes,test,Bangalore Jalahalli
4219,NaN,"Biryani, Hyderabadi, Chinese",4.1,6412,11:30am – 11:30pm (Mon-Sun),CASUAL DINING,226 votes,test,Bangalore Malleshwaram
4220,NaN,"South Indian, North Indian, Fast Food, Chinese...",3.9,6199,7am – 10pm (Mon-Sun),CASUAL DINING,197 votes,test,Mumbai Mulund West
4221,NaN,"North Indian, Mughlai, Chinese",3.6,3265,9am – 1am (Mon-Sun),CASUAL DINING,441 votes,test,Mumbai Goregaon East
4222,NaN,"North Indian, Chinese, Kebab, Juices",3.8,6973,"12noon – 4pm, 7pm – 11pm (Mon-Sun)",QUICK BITES,245 votes,test,Bangalore JP Nagar
4223,NaN,"Sindhi, Street Food",NEW,6887,"11:30am – 4pm, 7pm – 11:30pm (Mon-Sun)",CASUAL DINING,NaN,test,Mumbai Lower Parel
4224,NaN,"Kerala, South Indian",3.8,331,"12noon – 4pm, 7pm – 10:30pm (Mon-Sat),12noon –...",QUICK BITES,410 votes,test,Bangalore Indiranagar
4225,NaN,"North Indian, Mughlai, Chinese",4.0,1670,"6am – 12:30AM (Mon, Tue, Wed, Thu, Sat, Sun), ...",QUICK BITES,197 votes,test,Mumbai Grant Road
4226,NaN,"North Indian, Mughlai, Chinese",3.9,9057,11:30am – 11:30pm (Mon-Sun),CASUAL DINING,287 votes,test,New Delhi Punjabi Bagh
4227,NaN,"Biryani, North Indian, Sandwich, Salad, Wraps",4.3,1247,11am – 1am (Mon-Sun),None,469 votes,test,Bangalore HSR Layout
4228,NaN,"Continental, North Indian",3.7,8617,9:30am – 10:30pm (Mon-Sun),QUICK BITES,53 votes,test,Faridabad Sector 86
4229,NaN,"Rolls, Beverages",-,6485,"11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",QUICK BITES,NaN,test,Kochi Kochi
4230,NaN,Mughlai,3.7,2421,5pm – 1am (Mon-Sun),QUICK BITES,63 votes,test,Bandra West Perry Cross Road

In [10]:
df.dropna(subset=['Location'],inplace=True)

In [11]:
from fuzzywuzzy import process
names_array=[]
def match_names(wrong_names,correct_names):
    for row in wrong_names:
        x=process.extractOne(row, correct_names)
        if x[1]<60:
            names_array.append('Others')
        else:
            names_array.append(x[0])
    return names_array

C:\Users\vineet\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [12]:
correct_names=['Bangalore','Thane',
'Hyderabad','Andheri',
'Delhi', 'Kerala',
'Chennai', 'Bandra',
'Mumbai', 'Telangana',
'Kochi', 
'Noida', 
'Gurgaon', 'Ernakulam',
'Faridabad', 'Ghaziabad',
'Secunderabad' ]
name_match=match_names(df.Location,correct_names)    

print(len(names_array))
df['Location']=names_array

16747

In [13]:
cuisines_list=[]
for row in df['CUISINES']:
    cuisines_list.append(list(row.split(',')))

df['CUISINES']=cuisines_list

In [14]:
df['CUISINES'].isna().sum()

0

In [15]:
df_cuisines=df['CUISINES'].apply(lambda x: pd.Series(1, x))

In [16]:
title_list=[]
for row in df['TITLE']:
    title_list.append(list(row.split(',')))
df['TITLE']=title_list

In [17]:
df_title=df['TITLE'].apply(lambda x: pd.Series(1, x))

In [18]:
df_title.head()

,CASUAL DINING,BAR,QUICK BITES,DESSERT PARLOR,CAFÉ,MICROBREWERY,BEVERAGE SHOP,IRANI CAFE,BAKERY,None,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df[df['RATING'].isna()]

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,TIME,TITLE,VOTES,source,Location
204,Kochi,200.0,[Bakery],Marine Drive,NaN,15062,Not Available,[BAKERY],NaN,train,Kochi
421,Hyderabad,350.0,"[Cafe, Fast Food]",Banjara Hills,NaN,14127,Not Available,[CAFÉ],NaN,train,Hyderabad
2035,Kochi,NaN,"[Kerala, Arabian]",Kakkanad,NaN,2776,Not Available,[QUICK BITES],NaN,test,Kochi
2758,Kochi,NaN,"[Chinese, North Indian, South Indian]",Tripunithura,NaN,11301,Not Available,[None],NaN,test,Kochi

In [20]:
df["RATING"] = df.groupby("CITY").RATING.transform(lambda x : x.fillna(x.mode()[0]))

In [21]:
df['RATING']=df['RATING'].str.extract('(\d+)').astype(float)

In [22]:
df['VOTES'].isna().sum()

1579

In [23]:
df.VOTES.fillna('0',inplace=True)
df['VOTES']=df['VOTES'].str.extract('(\d+)').astype(float)

In [24]:
df.drop(columns='CITY',inplace=True)
df.drop(columns='LOCALITY',inplace=True)
df.drop(columns='CUISINES',inplace=True)

In [25]:
df_City=pd.get_dummies(df['Location'])
df.drop(columns='Location',inplace=True)
df_City.head()

,Andheri,Bandra,Bangalore,Chennai,Delhi,Ernakulam,Faridabad,Ghaziabad,Gurgaon,Hyderabad,Kerala,Kochi,Mumbai,Noida,Others,Secunderabad,Telangana,Thane
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [26]:
df = pd.concat([df,df_City,df_cuisines,df_title], axis=1)

In [27]:
df.drop(columns='TITLE',inplace=True)

In [28]:
df_column_category = df.select_dtypes(exclude=np.number).columns
df_column_category

Index(['TIME', 'source'], dtype='object')

In [29]:
df.drop(columns='TIME',inplace=True)

In [30]:
df.fillna(0,inplace=True)

In [31]:
train_final = df[df.source=="train"]
test_final = df[df.source=="test"]

In [32]:
train_final.shape

(12552, 277)

In [33]:
train_final.drop(columns=["source"],inplace=True)

C:\Users\vineet\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [34]:
test_final.drop(columns=["source",'COST'],inplace=True)

In [35]:
train_X = train_final.drop(columns=["COST",'RESTAURANT_ID'])

In [36]:
train_Y = train_final["COST"]

In [37]:
test_X = test_final.drop(columns=["RESTAURANT_ID"])

In [38]:
train_X.fillna(0,inplace=True)
train_X.isna().sum()

C:\Users\vineet\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

RATING             0
VOTES              0
Andheri            0
Bandra             0
Bangalore          0
Chennai            0
Delhi              0
Ernakulam          0
Faridabad          0
Ghaziabad          0
Gurgaon            0
Hyderabad          0
Kerala             0
Kochi              0
Mumbai             0
Noida              0
Others             0
Secunderabad       0
Telangana          0
Thane              0
Malwani            0
 Goan              0
 North Indian      0
Asian              0
 Modern Indian     0
 Japanese          0
North Indian       0
 Chinese           0
 Biryani           0
 Hyderabadi        0
                  ..
 South American    0
 Mishti            0
 Falafel           0
Cantonese          0
 Hawaiian          0
CASUAL DINING      0
BAR                0
QUICK BITES        0
DESSERT PARLOR     0
CAFÉ               0
MICROBREWERY       0
BEVERAGE SHOP      0
IRANI CAFE         0
BAKERY             0
None               0
PUB                0
FINE DINING        0
SWEET SHOP         0
LOUNGE             0
FOOD COURT         0
FOOD TRUCK         0
MESS               0
KIOSK              0
CLUB               0
CONFECTIONERY      0
DHABA              0
MEAT SHOP          0
COCKTAIL BAR       0
PAAN SHOP          0
BHOJANALYA         0
Length: 274, dtype: int64

In [39]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train_X, train_Y)
dtrain_predictions = model.predict(train_X)

In [40]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(model, train_X, train_Y, cv=5, scoring='neg_mean_squared_error')

In [41]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_squared_log_error, r2_score
print("\nModel Report")
print("RMSE : %.4g" % np.sqrt(mean_squared_error(train_Y.values, dtrain_predictions)))

Model Report
RMSE : 331.3

In [42]:
test_X.fillna(0,inplace=True)
test_final["res_linear"] =  model.predict(test_X)

C:\Users\vineet\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)
C:\Users\vineet\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
print('r2 train',r2_score(train_Y,dtrain_predictions))

r2 train 0.7224620543985131

In [44]:
Linear_submission = test_final[["RESTAURANT_ID","res_linear"]]

In [45]:
Linear_submission.head(20)

    RESTAURANT_ID   res_linear
0            4085   917.578125
1           12680   359.178680
2            1411   809.393646
3             204   363.641876
4           13453   205.616547
5            4518    51.630066
6            1643   615.144836
7            5109   620.427643
8            5606   433.677216
9           14319   654.869141
10           4079   201.799469
11           8873   185.718536
12          12322  1999.745728
13           7910  1746.170898
14            309   811.139282
15           1224   906.271057
16           6376   341.097565
17           3931   271.584412
18           2274   324.234406
19           4974   257.330688